#sideBar{
    padding-top: 56px;
    width: 22%;
    z-index: 1029;
    display: none;
}

#sideBarrar{
    width: 280px;
    height: 94%;
    position: fixed;
}

#sideBarrar #sbUl{
    display: block;
}

#contentConSidebar{
    padding-top: 56px;
    width: 100%;
    display: block;
    margin: auto;
}